{
  "swagger": "2.0",
  "info": {
    "title": "Keyword",
    "description": "This is an keyword for all my keyword entries. I use a single keyword system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "keyword.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/keyword/": {
      "get": {
        "summary": "all keywords",
        "description": "all keywords",
        "operationId": "getKeywords",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across keyword",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "keyword response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Keyword"
        ]
      },
      "post": {
        "summary": "add a keyword post",
        "description": "add a keyword post",
        "operationId": "addKeyword",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the keyword was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the keyword originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the keyword",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "keyword response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Keyword"
        ]
      }
    },
    "/keyword/{keyword_id}/": {
      "get": {
        "summary": "Retrieve a keyword using its slug",
        "description": "Returns the keyword detail",
        "operationId": "getKeyword",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "the unique id for keyword entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "keyword response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Keyword"
        ]
      },
      "put": {
        "summary": "update keyword",
        "description": "update keyword",
        "operationId": "updateKeyword",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "the unique id for keyword entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the keyword was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the keyword originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the keyword",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "keyword response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Keyword"
        ]
      },
      "delete": {
        "summary": "delete keyword",
        "description": "delete keyword",
        "operationId": "deleteKeyword",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "the unique id for keyword entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "keyword response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Keyword"
        ]
      }
    },
    "/keyword/{keyword_id}/tags/": {
      "get": {
        "summary": "keyword tags",
        "description": "keyword tags",
        "operationId": "getkeywordTags",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "id for keyword",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to keyword",
        "description": "add tag to keyword",
        "operationId": "addKeywordTag",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "id for the keyword",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/keyword/{keyword_id}/tags/{tag}": {
      "delete": {
        "summary": "delete keyword tag",
        "description": "delete keyword tag",
        "operationId": "deletekeywordTag",
        "parameters": [
          {
            "name": "keyword_id",
            "in": "path",
            "description": "id for the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the keyword",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from keyword",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/keyword/tags/{tag}/keyword/": {
      "get": {
        "summary": "keyword tags by week keywords",
        "description": "keyword tags by week keywords",
        "operationId": "getKeywordTagCKeyword",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keyword"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "keyword": {
      "properties": {
        "keyword_id": {
          "description": "unique id of the keyword",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the keyword was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the keyword",
          "type": "string"
        },
        "author": {
          "description": "author of the keyword",
          "type": "string"
        },
        "summary": {
          "description": "summary for the keyword",
          "type": "string"
        },
        "body": {
          "description": "full body text of the keyword",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the keyword",
          "type": "string"
        },
        "status": {
          "description": "status of the keyword",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the keyword originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}